%h2 Frugal-the world’s best personal finance app
%ul
  %li Budgeting made simple &mdash; really, really simple
  %li Create saving, giving and spending goals
  %li Get instant feedback

.hero-unit
  %p
    Make smarter choices with your money
    We help families learn to make their money work for them.Budgeting made simple
    Really, really simple
  = link_to "Get started!", get_started_url, class:"btn btn-primary btn-large"
    